html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 

.jumbotron-fluid {
    margin-bottom: 0%;
   background-image: url("../images/kate.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: #b6b6b6;
}

h1 {
    font-family: 'Economica', sans-serif;
}

p {
    font-family: 'Oswald' sans-serif;
}

img {
    box-align: right;
}

.navbar {
    letter-spacing: 3px;
    border: solid 1px;
}

a:hover {
        color: #f01e78!important;
        border-bottom: 3px solid #02b9cb;
    }

    #about, #portfolio, #contact {
        background-color: #02b9cb;
        display:  inline-block;
        border: solid 3px;
        padding: 3%;
        margin: 3%;
        
    }

    .btn {
        margin: 4px;
        background-color: #f01e78;
        border-radius: 0%;
    }

    #jumpTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: groove #000000;
        outline: none;
        background-color: #f01e78;
        color: #000000;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 11%;
      }
      
body {
    background-image: url("../images/white_paperboard.png")
}

.galleryImg {
    margin: 3%;
    padding: 11%;
  
}

.galleryImg > a {
    color: #000000;
}

.form-control {
border: solid;
}

#submit {
    color: #000000;
    margin: 8%;
    border: groove #000000 2px;
}